In [ ]:
#Entire Code is in this Cell
import pandas as pd
df = pd.read_csv("iris.csv")
df.head()
df.dtypes
df.groupby('Species').mean()
df.groupby(['Species'])['SepalLength'].mean()
df.groupby(['Species'])['SepalWidth'].median()
df.groupby(['Species'])['PetalLength'].max()
df.groupby(['Species'])['PetalWidth'].std()#standard deviation
mapping = {'Setosa':0,'Versicolor':1,'Virginica':2}
numeric_list = [mapping[species] for species in df['Species']]
numeric_list

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("iris.csv")
df.head()

   Id  SepalLength  SepalWidth  PetalLength  PetalWidth Species
0   1          5.1         3.5          1.4         0.2  Setosa
1   2          4.9         3.0          1.4         0.2  Setosa
2   3          4.7         3.2          1.3         0.2  Setosa
3   4          4.6         3.1          1.5         0.2  Setosa
4   5          5.0         3.6          1.4         0.2  Setosa

In [9]:
df.dtypes

Id               int64
SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
Species         object
dtype: object

In [10]:
df.groupby('Species').mean()

               Id  SepalLength  SepalWidth  PetalLength  PetalWidth
Species
Setosa       25.5       5.0125       3.418        1.464    0.242857
Versicolor   75.5       5.9360       2.770        4.260    1.326000
Virginica   125.5       6.5880       2.974        5.552    2.022449

In [12]:
df.groupby(['Species'])['SepalLength'].mean()

Species
Setosa        5.0125
Versicolor    5.9360
Virginica     6.5880
Name: SepalLength, dtype: float64

In [14]:
df.groupby(['Species'])['SepalWidth'].median()

Species
Setosa        3.4
Versicolor    2.8
Virginica     3.0
Name: SepalWidth, dtype: float64

In [16]:
df.groupby(['Species'])['PetalLength'].max()

Species
Setosa        1.9
Versicolor    5.1
Virginica     6.9
Name: PetalLength, dtype: float64

In [ ]:
df.groupby(['Species'])['PetalWidth'].std()#standard deviation

Species
Setosa        0.108012
Versicolor    0.197753
Virginica     0.276334
Name: PetalWidth, dtype: float64

In [20]:
mapping = {'Setosa':0,'Versicolor':1,'Virginica':2}
numeric_list = [mapping[species] for species in df['Species']]
numeric_list

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]